APP_NAME=chattery
APP_VERSION=production
APP_DEBUG=false

HTTP_HOST=0.0.0.0
HTTP_PORT=8080

POSTGRES_URL=postgresql://chattery:changeme@postgres:5432/chattery?sslmode=disable

REDIS_ADDRESS=redis:6379
REDIS_USERNAME=default
REDIS_PASSWORD=changeme

S3_ENDPOINT=minio:9000
S3_ACCESS_KEY_ID=changeme
S3_SECRET_ACCESS_KEY=changeme
S3_BUCKET=chattery
S3_USE_SSL=false

SESSION_KEY=changeme
SESSION_COOKIE_DOMAIN=
SESSION_EXPIRATION=5h
SESSION_REFRESH_BEFORE=30m

MESSAGES_LIMIT=20

IMAGE_MAX_FILE_SIZE=2097152
IMAGE_MAX_WIDTH=1920
IMAGE_MAX_HEIGHT=1080
IMAGE_JPEG_QUALITY=75

CACHE_USER_SYNC_TIMEOUT=30s
CACHE_SERVER_SYNC_TIMEOUT=30s
CACHE_DM_SYNC_TIMEOUT=30s

VOICE_NODE_ID=chattery
VOICE_OWNER_TTL=30s
VOICE_STUN_SERVER=stun:stun.l.google.com:19302
