services:
  db:
    image: postgres:18.1-alpine
    container_name: postgres
    environment:
      POSTGRES_DB: chattery
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready"]
      interval: 10s
      timeout: 5s
      retries: 5
  minio:
    image: minio/minio
    container_name: minio
    command: server /data --console-address ":9001"
    environment:
      MINIO_ROOT_USER: user
      MINIO_ROOT_PASSWORD: password
    volumes:
      - minio_data:/data
    ports:
      - "9000:9000"
      - "9001:9001"
  createbucket:
    image: minio/mc
    depends_on:
      - minio
    entrypoint: >
      /bin/sh -c "
      /usr/bin/mc alias set myminio http://minio:9000 user password;
      /usr/bin/mc mb chattery/bucket;
      /usr/bin/mc anonymous set public chattery/bucket;
      exit 0;
      "
  redis:
    image: redis:8-alpine
    container_name: redis
    ports:
      - "6379:6379"
    environment:
      - REDIS_USER=redis_user
      - REDIS_USER_PASSWORD=redis_user_password
      - REDIS_DISABLE_DEFAULT_USER="true"

volumes:
  postgres_data:
  minio_data:
