@import 'tailwindcss';

@theme {
	--color-background: var(--color-white);
	--color-muted: var(--color-slate-200);
	--color-muted-soft: var(--color-slate-100);
	--color-info: var(--color-blue-600);
	--color-danger: var(--color-red-600);
}
