package profile

templ Card() {
	<div class="flex items-center gap-x-2">
		{ children... }
	</div>
}

templ Image(src, username string) {
	<img
		class="object-cover w-10 h-10 rounded-full"
		src={ templ.URL(src) }
		alt={ username + "'s avatar" }
	/>
}

templ ProfileContent(props Props) {
	<div>
		<h1 class="text-lg font-semibold text-gray-700 capitalize dark:text-white">{ props.Username }</h1>
		<p class="text-sm text-gray-500 dark:text-gray-400">miajohn@merakiui.com</p>
	</div>
}
