@import "tailwindcss";

@utility neo-shadow-sm {
  box-shadow: 1px 1px 0 black;
}

@utility neo-shadow {
  box-shadow: 2px 2px 0 black;
}

@utility neo-shadow-lg {
  box-shadow: 4px 4px 0 black;
}

@utility neo-shadow-white {
  box-shadow: 2px 2px 0 white;
}

@utility neo-shadow-rose {
  box-shadow: 2px 2px 0 var(--color-rose-50);
}
