*,
*::before,
*::after {
    box-sizing: border-box;
}

*:not(dialog) {
    margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
    html {
        interpolate-size: allow-keywords;
    }
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;

    --color-background: white;
    --color-muted: oklch(92.9% 0.013 255.508);
    --color-muted-soft: oklch(96.8% 0.007 247.896);
    --color-info-soft: oklch(93.2% 0.032 255.585);
    --color-info-soft-highlighted: oklch(80.9% 0.105 251.813);
    --color-info: oklch(54.6% 0.245 262.881);
    --color-danger: oklch(57.7% 0.245 27.325);
    --color-border: black;
    --color-button: black;
    --radius-md: 0.375rem;
    --radius-lg: 0.5rem;

    background-color: var(--color-background);
    font-family:
        -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial,
        sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

p {
    text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
}

#root,
#__next {
    isolation: isolate;
}
